<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
    {% endif %}
    <link rel="canonical"
          href="{{ page.url|replace:'index.html',''|prepend:site.baseurl|prepend:site.url }}">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" type="text/css"
          href="/files/css/rlmuraya.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="content">
        <h1>{{ page.h1 }}</h1>

        {{ content }}
      </div>

      <div class="footer">
        <div class="container">
          <a href="https://github.com/rlmuraya/rlmuraya.github.io"
             target="_blank">view source code</a>
        </div>
      </div>
    </div>
  </body>
</html>
